body{
	background-image:url('../img/loginbg.png');
	font-family: Apercu,Gill Sans MT,Gill Sans,Arial,sans-serif;
}

.tshirtMarvelCart{
	width: 100%;
    height: 50%;
    overflow: auto;
}

.cssTotal{
	padding-left:10px; 
	margin-bottom:5px
}

.paddingTotal{
	padding-top:10px;
	padding-bottom:10px;
}

.btnMarvelCart{
	color:white;
	width: 80%;
	padding:13px;
	text-decoration: none;
	border-radius:0;
}

.backMarvelCart{
	font-size:25px;
}

.chckoutMarvelCart{
	background-color:rgba(0,0,0,0.8);
}

.chckoutMarvelCart:hover{
	background-color:rgba(246,246,246,0.5);
	color:rgba(0,0,0,0.8);
	border-color: rgba(0,0,0,0.8);
}

.trashBtn{
	font-size:30px;
	color:black;
	width: 80%;
	padding:13px;
	text-decoration: none;
	border-radius:0;
}

.designMarvelCart{
	border-color: rgba(0,0,0,0.8);
	color:rgba(0,0,0,0.8);
}

.designMarvelCart:hover{
	background-color:rgba(0,0,0,0.8);
	border-color: rgba(0,0,0,0.8);
	color:#f6f6f6;
}

.tshirtHeading{
	float:left;
	font-size:1.2em;
}
